.non {
  text-decoration: none;
  margin-right: 50px;
}

.completedTask {
  text-decoration: line-through;
  margin-right: 50px;
}


.flexes {
  display: flex;
  text-align: center;
  margin-left: 30%;
}
